<div class="block rounded bg-white shadow-[0_3px_10px_rgb(0,0,0,0.2)] overflow-hidden">
	<div
		class="relative bg-cover bg-no-repeat"
		data-te-ripple-init
		data-te-ripple-color="light">
		<img
			width="250"
			height="220"
			class="rounded-t-lg bg-cover bg-no-repeat mx-auto"
			src="assets/imgs/jpg/azucaradox4.jpg"
			alt="Product image" />
		<a [routerLink]="[1]">
			<div
				class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-[hsla(0,0%,98%,0.15)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100"></div>
		</a>
	</div>
	<div class="p-6 bg-danone-blue">
		<h5 class="mb-2 text-xl leading-tight text-neutral-800 dark:text-neutral-50 font-semibold">Azucarado x 4</h5>
		<p class="mb-4 text-base text-white">
			El clásico yogur Danone azucarado, con leche y fermentos naturales. En formato tradicional x4
		</p>
	</div>
</div>
