<div
	class="w-full relative py-6 md:py-8 lg:py-10 bg-danone-blue text-white max-w-full overflow-hidden before:absolute before:content-[''] before:w-8 before:sm:w-14 before:h-full before:top-0 before:left-0 before:bg-gradient-to-r before:from-danone-blue before:to-transparent before:z-[1] after:absolute after:content-[''] after:w-8 after:sm:w-14 after:h-full after:top-0 after:right-0 after:bg-gradient-to-l after:from-danone-blue after:to-transparent after:z-[1]">
	<div
		#marqueeRef
		class="w-full whitespace-nowrap animate-marquee">
		<span
			class="overflow-hidden whitespace-nowrap text-ellipsis inline-block text-center"
			[style.width.px]="marqueeItemWidth"
			[style.padding-left.px]="marqueeItemPadding"
			[style.padding-right.px]="marqueeItemPadding"
			*ngFor="let label of labelsShown"
			>{{ label }}</span
		>
	</div>
</div>
