<section class="grid place-items-center h-full p-4">
	<div class="flex flex-col">
		<h4 class="h-4 text-gray-800 text-center md:text-left bg-gray-200 animate-pulse"></h4>
		<div class="text-base mb-4 bg-gray-100 animate-pulse"></div>
		<div class="flex flex-col md:flex-row gap-8">
			<div class="mx-auto w-72 h-72 md:w-80 md:h-80 flex-shrink-0 bg-gray-200 animate-pulse"></div>
			<div class="flex flex-col max-w-2xl gap-2">
				<div class="flex flex-col">
					<h5 class="w-56 sm:w-72 y-2 bg-gray-100 mb-4">&nbsp;</h5>
					<p class="w-64 sm:w-96 y-4 bg-gray-200 animate-pulse">&nbsp;</p>
				</div>
			</div>
		</div>
		<div class="flex items-center w-full mt-8 bg-gray-200 animate-pulse">&nbsp;</div>
	</div>
</section>
