<section
	style="height: calc(100vh - 64px)"
	class="flex flex-col">
	<div class="flex flex-col pt-24">
		<h1 class="text-gray-800 text-center mx-auto max-w-5xl">
			Descubre el Delicioso y Saludable Mundo de
			<span
				[routerLink]="route.Products"
				role="button"
				class="w-[160px] translate-y-5 inline-block">
				<img
					class="w-full object-cover"
					src="assets/imgs/png/logo-btn.png"
					alt="logo name" />
			</span>
		</h1>
		<p class="text-base text-gray-600 mx-auto max-w-xl mt-5 text-center px-2">
			<strong>¡Bienvenido!</strong> nos enorgullece presentarte nuestro nuevo espacio dedicado a nuestra gama de
			productos más ecológicos y saludables. Aquí encontrarás opciones deliciosas que te permitirán cuidarte a ti
			y al planeta al mismo tiempo.
		</p>
	</div>
	<div class="flex-1 relative flex items-end">
		<img
			class="max-h-[90%] hidden sm:block absolute bottom-0 left-1/2 -translate-x-1/2"
			src="assets/imgs/svg/landing.svg"
			alt="landing" />
		<app-marquee class="w-full"></app-marquee>
	</div>
</section>
<section class="min-h-[400px] py-24">
	<h3>Sé Parte del Cambio</h3>
	<img
		src="assets/imgs/jpg/girl-running.jpg"
		alt="Girl Running" />
</section>
