<section
	style="height: calc(100vh - 64px)"
	class="flex flex-col">
	<div class="flex flex-col pt-12 xs:pt-24">
		<h1 class="text-gray-800 text-center mx-auto max-w-5xl text-5xl md:text-[69px] px-2">
			Descubre el Delicioso y Saludable Mundo de
			<span
				[routerLink]="route.Products"
				role="button"
				class="w-[160px] translate-y-5 inline-block">
				<img
					class="w-full object-cover"
					src="assets/imgs/png/logo-btn.png"
					alt="logo name" />
			</span>
		</h1>
		<p class="text-base text-gray-600 mx-auto max-w-xl mt-5 text-center px-2">
			<strong>¡Bienvenido!</strong> nos enorgullece presentarte nuestro nuevo espacio dedicado a nuestra gama de
			productos más ecológicos y saludables. Aquí encontrarás opciones deliciosas que te permitirán cuidarte a ti
			y al planeta, al mismo tiempo.
		</p>
	</div>
	<div class="flex-1 relative flex items-end">
		<app-marquee class="w-full"></app-marquee>
		<img
			class="max-h-[90%] absolute bottom-0 left-1/2 -translate-x-1/2"
			src="assets/imgs/svg/landing.svg"
			alt="landing" />
	</div>
</section>
<section class="min-h-[400px] py-24 w-limit">
	<div class="grid">
		<ng-container
			[ngTemplateOutlet]="infoWithImageTemplate"
			[ngTemplateOutletContext]="{
				isLeft: false,
				title: 'Sé Parte del Cambio',
				image: 'assets/imgs/jpg/girl-running.jpg',
				info: 'Al elegir nuestros productos ecológicos, no solo estás haciendo algo bueno para ti mismo, sino también para el medio ambiente. Cada elección cuenta, y al optar por opciones sostenibles estás contribuyendo al cambio hacia un futuro más verde y saludable. Únete a nosotros y sé parte de esta transformación, donde todos podemos marcar la diferencia a través de nuestras decisiones diarias.'
			}"></ng-container>
		<ng-container
			[ngTemplateOutlet]="infoWithImageTemplate"
			[ngTemplateOutletContext]="{
				isLeft: true,
				title: 'Sabores Deliciosos, Ingredientes de Calidad',
				image: 'assets/imgs/jpg/girls-eatting.jpeg',
				info: 'En Danone, creemos que la comida saludable no tiene por qué ser aburrida. Nuestros productos ecológicos no solo son buenos para ti y para el planeta, sino que también están llenos de sabores deliciosos que te harán disfrutar cada bocado. Utilizamos ingredientes de alta calidad y técnicas de elaboración cuidadosas para ofrecerte productos que son una delicia para el paladar y beneficiosos para tu bienestar.'
			}"></ng-container>
	</div>
</section>
<app-footer></app-footer>

<ng-template
	#infoWithImageTemplate
	let-isLeft="isLeft"
	let-title="title"
	let-image="image"
	let-info="info">
	<div class="p-2">
		<h3
			class="mb-4 max-w-lg"
			[class.text-right]="!isLeft"
			[class.ml-auto]="!isLeft">
			{{ title }}
		</h3>
		<div
			class="max-w-lg overflow-hidden rounded"
			[class.ml-auto]="!isLeft">
			<img
				class="object-cover w-full h-full"
				[src]="image"
				alt="Info Image" />
		</div>
		<p
			class="text-base max-w-lg mt-4"
			[class.text-right]="!isLeft"
			[class.ml-auto]="!isLeft">
			{{ info }}
		</p>
	</div>
</ng-template>
