<section class="min-h-[400px] py-24">
	<div class="flex flex-col justify-center items-center h-full">
		<h1 class="text-4xl font-bold text-gray-800 mx-auto max-w-xl text-center">
			¡Descubre el Delicioso y Saludable Mundo de
			<span
				[routerLink]="route.Products"
				role="button"
				class="w-24 translate-y-4 inline-block">
				<img
					class="w-full object-cover"
					src="assets/imgs/png/logo-btn.png"
					alt="logo name" /> </span
			>!
		</h1>
		<p class="text-base text-gray-600 mx-auto max-w-lg mt-5 text-center">
			<strong>¡Bienvenido a Danone!</strong> Somos una empresa líder en la industria alimentaria, dedicada a
			proporcionar productos saludables y deliciosos para mejorar la calidad de vida de las personas en todo el
			mundo. Con más de 100 años de experiencia, nos hemos ganado la confianza de millones de consumidores que
			buscan opciones nutritivas sin sacrificar el sabor.
		</p>
	</div>
</section>
<section class="min-h-[400px] py-24 bg-white">
	<div class="flex flex-col justify-center items-center h-full">
		<h1 class="text-4xl font-bold text-gray-800 mx-auto max-w-xl text-center">
			¡Descubre el Delicioso y Saludable Mundo de Danone!
		</h1>
		<p class="text-base text-gray-600 mx-auto max-w-lg mt-5 text-center">
			<strong>¡Bienvenido/a a Danone!</strong> Somos una empresa líder en la industria alimentaria, dedicada a
			proporcionar productos saludables y deliciosos para mejorar la calidad de vida de las personas en todo el
			mundo. Con más de 100 años de experiencia, nos hemos ganado la confianza de millones de consumidores que
			buscan opciones nutritivas sin sacrificar el sabor.
		</p>
	</div>
</section>
