<section
	class="grid place-items-center h-full p-4"
	*ngIf="isLoaded; else skeletonTemplate">
	<div class="flex flex-col">
		<h4 class="py-4 text-gray-800 text-center md:text-left">{{ title }}</h4>
		<div class="text-base mb-4">
			{{ description }}
		</div>
		<div class="flex flex-col md:flex-row gap-8">
			<div class="mx-auto w-72 h-72 md:w-80 md:h-80 flex-shrink-0">
				<img
					[src]="image"
					class="w-full h-full object-contain shadow-[0_3px_10px_rgb(0,0,0,0.2)]"
					alt="" />
			</div>
			<div class="flex flex-col max-w-2xl gap-2">
				<div class="flex flex-col">
					<h5 class="text-gray-800 text-base">Ingredientes</h5>
					<p class="text-base">
						{{ ingredients }}
					</p>
				</div>
				<div class="flex flex-col">
					<h5 class="text-gray-800 text-base">Datos del producto</h5>
					<p class="text-base">
						{{ productData }}
					</p>
				</div>
				<div class="flex items-center">
					<h5 class="text-gray-800 text-base">EAN:</h5>
					<span class="text-base">{{ ean }}</span>
				</div>
			</div>
		</div>
		<div class="flex items-center mt-8">
			<button
				[routerLink]="'/' + route.Products"
				type="button"
				class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
				Volver a Productos
			</button>
		</div>
	</div>
</section>

<ng-template #skeletonTemplate> <app-product-detail-skeleton></app-product-detail-skeleton> </ng-template>
